<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	 <add name="memberNavdeep" connectionString="Data Source=202.143.99.111;Initial Catalog=LuxeTrain_Testing;User ID=india_1234;Password=9Np7h_8sSf5mz@86; connection timeout=50;Max Pool Size = 700;Pooling = True" providerName="System.Data.SqlClient" />
    <add name="enquery" connectionString="Data Source=202.143.99.111;Initial Catalog=db_enquiry;User ID=india_1234;Password=9Np7h_8sSf5mz@86; connection timeout=50;Max Pool Size = 700;Pooling = True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>